/* styles.css */
.navbar-brand img {
    max-height: 100px; /* small size */
    width: auto;       /* Maintain aspect ratio */
}

/* Example CSS for top menu links */
nav a {
    font-size: 18px;  /* Increase this number for larger text */
}
